<mat-nav-list>
  <a
    [routerLink]="['/signup']"
    routerLinkActive="router-link-active"
    mat-list-item
    (click)="closeSidenav()"
    *ngIf="!(authStatus$ | async)"
  >
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a
    [routerLink]="['/login']"
    routerLinkActive="router-link-active"
    mat-list-item
    (click)="closeSidenav()"
    *ngIf="!(authStatus$ | async)"
    ><mat-icon>input</mat-icon> <span class="nav-caption"> Login</span></a
  >
  <a
    [routerLink]="['/training']"
    routerLinkActive="router-link-active"
    mat-list-item
    (click)="closeSidenav()"
    *ngIf="authStatus$ | async"
    ><mat-icon>fitness_center</mat-icon>
    <span class="nav-caption"> Training</span></a
  >
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" *ngIf="authStatus$ | async">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
